{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    {{ test }}
    <hr/>
    {% for question in test.questions.all %}
        <form action="{% url 'add_answer' id=question.id %}" method="post">
            <p>{{ forloop.counter }}. {{ question }} - {% check_question request.user question %}</p>
            {% csrf_token %}
            <ul>
                {% for answer in question.answers.all %}
                <li>
                    <input id="{{ answer.id }}" type="checkbox" name="{{ question.id }}" value="{{ answer.id }}">
                    <label for="{{ answer.id }}">{{ answer }}</label>
                </li>
                {% endfor %}
            </ul>
            <button>Submit</button>
        </form>
    {% endfor %}
</body>
</html>