{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Level</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'details' id=test.id %}">{{ test.name }}</a></td>
                <td>{{ test.level }}</td>
                <td>{{ test.updated_at|date:"d/M/Y" }}</td>
            </tr>
        {% empty %}
            If tests are empty
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}